<nav id="sideNav" [ngClass]="{'collapsed':navigationService.isCollapsed}">
    <div id="sideNavTitle">
        <h1>RJH</h1>
    </div>
    <li [routerLinkActive]="['active']">
        <a routerLink='/restaurants'>Restaurants</a>
    </li>
    <li [routerLinkActive]="['active']">
        <a routerLink='/users'>Users</a>
    </li>
    <li [routerLinkActive]="['active']">
        <a>Contact</a>
    </li>
    <div id="sideNavToggle" (click)="onToggle()">
        <i class="fa" [ngClass]="{'fa-angle-left':!navigationService.isCollapsed,'fa-angle-right':navigationService.isCollapsed}"></i>
    </div>
</nav>
