@import "~styles.scss";

$banner-height: 100px;

:host {
    #appBody {
        margin-left: $side-nav-width;
        transition: 0.5s;
        &.expanded {
            margin-left: 0;
            width: 100%;
        }
    }
}