<page [header]="header">
  <form id="addUserForm" name="addUserForm" #addUserForm="ngForm" (ngSubmit)="onSubmit()" pageBody>
    <div class="form-group row">
      <form-textbox elementName="firstName" label="First Name" [(model)]="model.first_name" 
          placeholder="Enter first name" labelColNum="3" fieldColNum="9" [parentForm]="addUserForm" isRequired="true" maxLength="50">
      </form-textbox>
    </div>
    <div class="form-group row">
      <form-textbox elementName="middleName" label="Middle Name" [(model)]="model.middle_name" 
        placeholder="Enter middle name" labelColNum="3" fieldColNum="9" maxLength="50" [parentForm]="addUserForm">
      </form-textbox>
    </div>
    <div class="form-group row">
      <form-textbox elementName="lastName" label="Last Name" [(model)]="model.last_name"
        placeholder="Enter last name" labelColNum="3" fieldColNum="9" isRequired="true" maxLength="50" [parentForm]="addUserForm">
      </form-textbox>
    </div>
    <div class="form-group row">
      <form-textarea elementName="prefDesc" label="Preferences Description" [(model)]="model.preferences_desc" 
        placeholder="Enter description of the user's preferences" labelColNum="3" fieldColNum="9" maxLength="2000" 
        [parentForm]="addUserForm">
      </form-textarea>
    </div>
    <div class="form-group row">
      <form-file-input elementName="imagePath" label="User Profile Picture" (fileLoadStarted)="fileLoading=true" 
        (fileChange)="setFile($event)" labelColNum="3" fieldColNum="9" [parentForm]="addUserForm" #fileInput>
      </form-file-input>
    </div>
    <!-- Final row for buttons -->
    <div class="form-group row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" class="btn btn-primary" [disabled]="!addUserForm.form.valid || fileLoading">Add User</button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button type="reset" class="btn btn-link">Clear</button>
      </div>
    </div>
  </form>
</page>
