@import '~styles.scss';

:host {
  #pageHeader {
    background-color: $secondary-color;
    border-bottom: solid 1px black;
    height: 80px;
    h1 {
      color: black;
      font-family: $poppins-bold;
      font-size: 36px;
      line-height: 80px;
    }
  }
  #pageBody {
    padding-top: 50px;
  }
  #pageFooter {
    position: fixed;
    bottom: $footer-height;
    background-color: rgba(#7F7D6D, 0.7);
    border-top: double 4px black;
    border-bottom: double 4px black;
    display: inline-block;
    height: inherit;
    width: 100%;
    .container {
      height: inherit;
      padding: 30px 0;
    }
  }
}
