@import '~styles.scss';

:host {
  #pageHeader {
    background-color: $secondary-color;
    border-bottom: solid 1px black;
    height: 80px;
    h1 {
      color: black;
      font-family: $poppins-bold;
      font-size: 36px;
      line-height: 80px;
    }
  }
  #pageBody {
    padding-top: 50px;
  }
}
