/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~wfk-poppins/poppins";
@import "global-variables";
@import "mixins";

// General button styles
button {
    background-color: $primary-button-color;
    border: solid 1px white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: $poppins-regular;
    &:hover {
        background-color: $primary-button-hover-color;
        &:disabled {
            cursor: not-allowed;
        }
    }
}

// Represents the content of the website, placed in the center
.app-content {
    @include sm {
        padding: 0 20px;
    }
    @include lg {
        width: 1000px;
    }
}