<page [header]="header">
  <ng-container pageBody>
    <div id="outsideFrame">
      <button class="user-frame" *ngFor="let user of users | async" (click)="promptUserDetails(user)">
        <img [src]="buildImgSrc(user.file_data)" *ngIf="user">
        <div class="user_name">
          {{user.first_name}}
          <span *ngIf="user.middle_name"> {{user.middle_name}}</span> 
          {{user.last_name}}
        </div>
        <div class="pref_desc" *ngIf="user.preferences_desc">
          <hr> {{user.preferences_desc}}
        </div>
      </button>
      <button id="addUserFrame" class="user-frame" (click)="onAddUser()">
        <i class="fa fa-user-circle"></i>
        <div class="user-frame-text">
          <i class="fa fa-plus"></i>Add User
        </div>
      </button>
    </div>
  </ng-container>
</page>
