@import "~styles.scss";

$banner-height: 100px;

:host {
    #banner {
        background-color: $banner-color;
        height: $banner-height;
        transition: 0.5s;
        width: 100%;
        #bannerTitle {
            display: inline-block;
            color: $white-color;
            font-family: $poppins-bold;
            font-size: 60px;
            font-style: italic;
            height: $banner-height;
            line-height: $banner-height;
            padding-left: 80px;
        }
        .separator {
            position: relative;
            top: 15px;
            border-right: solid 1px $white-color;
            display: inline-block;
            height: $banner-height - 30px;
            padding: 0 20px;
        }
        #chooserBtn {
            position: relative;
            top: -30px;
            font-size: 20px;
            height: 70px;
            width: 200px;
            margin-left: 40px;
        }
    }
}